*.Debug
*.Release
*.db
*.pyc
dsamediacontrolkit.db
dsa_media_control_kit.db
pip-selfcheck.json

*.o
*.exe
*.user

TestSounds/
TestProjects/
*.mp3
*.wav
*.ogg
*.wma

# exclude version dependent qt build dirs (e.g. build-DsaMediaControlKit-Desktop_Qt_5_6_0_MinGW_32bit-Debug)
build*/

env/